.logo {
	width: 2em;
	float: left;
	margin: 5px;
	margin-top: 10px;
	margin-right: 10px;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}

label {
	font-weight: normal;
}

.settings .list-group-item {
	cursor: pointer;
}

.setting-item {
	margin-left: 14px;
}

a.advanced {
	outline: 0;
}

.advanced {
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	color: #333;
	float: left;
}

.advanced:hover {
	color: #333;
}

.well {
	clear: both;
}
