.container {
	margin-top: 15%;
	max-width: 700px;
}

.settings {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.input-group, .form-control, #search {
	height: 1.5em;
	line-height: 1em;
	font-size: 40px;
}

.autocomplete-suggestions {
	font-size: 2em;
}

.results {
	display: none;
}

.showpage {
	display: none;
}

.container > .logo {
	width: 50%;
	float: none;
	margin: 0px;
}

.template-category {
	display: none;
}

.categories {
	margin-top: 3px;
	margin-bottom: 3px;
}

.modal-body {
	overflow: hidden;
}
